---
import {getLangFromUrl, useTranslations} from '../../i18n/utils';
import {languages} from '../../i18n/ui';
import {Icon} from 'astro-icon/components'
import StandardPage from "../../layouts/StandardPage.astro";
import LinkTile from "../../components/LinkTile.astro"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {locale} = Astro.params;

// Validate language
if (!locale || !(locale in languages)) {
    //TODO: 404 REDIRECT??? Somehow move this into middleware?
    //TODO: Maybe astro library bug???
    //console.log(locale, "is not a valid locale");
}

const userData = Astro.locals.user;
---

<StandardPage>
    <h1 class="text-center text-3xl">{t('index.welcome')}</h1>
    <h1 class="pt-2 text-center text-2xl">{t('index.continue_with_one_of_the_following')}</h1>

    <div class="flex flex-row gap-3 justify-center mt-10">


        {/* 1) NOT SIGNED IN */}
        {!userData && (
                <LinkTile href={`/${lang}/sign-in`} title={t('index.sign_in')}>
                    <Icon slot="icon" width="50" height="50" name="mdi:account-key"/>
                </LinkTile>

                <LinkTile href={`/${lang}/sign-up`} title={t('index.sign_up')}>
                    <Icon slot="icon" width="50" height="50" name="mdi:register"/>
                </LinkTile>
        )}

        {/* 2) TRANSLATOR */}
        {userData?.role === "Translator" && (
                <LinkTile href={`/${lang}/translator/language-settings`} title={t('index.language_settings')}>
                    <Icon slot="icon" width="50" height="50" name="mdi:language-box"/>
                </LinkTile>
                <LinkTile href={`/${lang}/translator/assigned-projects`} title={t('index.assigned_projects')}>
                    <Icon slot="icon" width="50" height="50" name="mdi:file-document-edit"/>
                </LinkTile>
                <LinkTile href={`/${lang}/translator/closed-projects`} title={t('index.closed_projects')}>
                    <Icon slot="icon" width="50" height="50" name="mdi:file-document-check"/>
                </LinkTile>
        )}

        {/* 3) CUSTOMER */}
        {userData?.role === "Customer" && (
                <div>Customer</div>
        )}

    </div>

</StandardPage>